.fakeimg {
  height: 180px;
  background: url(../images/akannames.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron {
  background-color: brown;
  color: White;
}
span {
  color: orange;
}

h1 {
  font-size: 60px;
}
span, #akan {
  font-size: 60px;
  font-weight: bolder;
}
.par {
  color: black;
  font-size: 40px;
}
.h2 {
  color: brown;

}
h4 {
  color: brown;
  font-weight: bold;
}
ul {
  font-weight: bold;
}
